
/* start navbar section style */
.active{
    border-bottom: 2px solid red;

}
.nav{
    background-color: hsl(0, 0%, 94%);
    overflow: hidden;
    text-align: center;
    position: sticky;
    top: 1px;
    z-index: 999;
}
.nav a{
    float: right;
    color: rgb(34, 34, 34);
    text-align: center;
    padding: 10px 16px;
    font-size: 18px;
}
.nav a:hover(:first-child){
    border-bottom: 2px solid red;
}
.icon{
    display: none;
}
.cap{
    width: 30px;
    vertical-align: -10px;
    height: 30px;
}
.icon img{
    vertical-align: -9px;
}
nav{
    width: 100%;
}
@media  screen and (max-width:870px) {
    .nav a:not(:first-child){
        display: none;
    }
    .nav a.icon{
        display: block;
        float: left;
    }
    .nav.responsive{
        position: relative;
    }
    .nav.responsive a.icon{
        position: absolute;
        top: 0px;
        left: 0;
    }
    .nav.responsive a{
        float: none;
        display: block;
        text-align: right;
    }
}








/* end navbar section style */